.menus {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.icon {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-grey-4);
  cursor: pointer;
}

.active {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--color-secondary);
  cursor: pointer;
}
